<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="memory" value="1"/>
    <add key="cpu" value="1"/>
    <add key="disk" value="1"/>
    <add key="network" value="Intel[R] 82579LM Gigabit Network Connection"/>    
    <add key="date" value="dd/MM ddd"/>
  </appSettings>
</configuration>